<div class="section">
  <div class="columns is-centred">
    <div class="column"></div>
    <div class="column is-6">


        <article class="panel is-success">
          <p class="panel-heading">
            Edit your user account here!
          </p>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

            <div class="panel">
                <%= f.error_notification %>

                <table class="table is-fullwidth">
                  <tbody>
                    <tr>
                      <th><%= f.label :name, 'Name:'%></th>
                      <td>
                        <%= f.input_field :name,
                          required: true,
                          autofocus: true,
                          placeholder: "Enter your name here >>",
                          class: "input-form",
                          input_html: { autocomplete: "name" }%>
                      </td>
                    </tr>
                    <tr>
                      <th><%= f.label :username, 'Username:'%></th>
                      <td>
                        <%= f.input_field :username,
                          required: true,
                          placeholder: "Type your username here >>",
                          class: "input-form",
                          hint: ("Your username can't have a white space in it."),
                          input_html: { autocomplete: "username" }%>
                      </td>
                    </tr>
                    <tr>
                      <th><%= f.label :email, 'Email:'%></th>
                      <td>
                        <%= f.input_field :email,
                          required: true,
                          placeholder: "Exemple@email.com",
                          class: "input-form",
                          input_html: { autocomplete: "email" }%>
                      </td>
                    </tr>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <tr>
                        <td>Waiting confirmation for: <%= resource.unconfirmed_email %></td>
                      </tr>
                    <% end %>

                    <tr>
                      <th><%= f.label :password, 'Password:'%></th>
                      <td>
                              <%= f.input_field :password,
                              required: false,
                              placeholder: "leave it blank if you don't want to change it",
                              hint: "leave it blank if you don't want to change it",
                              class: "input-form",
                              input_html: { autocomplete: "new-password" } %>
                      </td>
                    </tr>
                    <tr>
                      <th><%= f.label :password_confirmation, 'Password confirmation:'%></th>
                      <td>
                        <%= f.input_field :password_confirmation,
                          required: false,
                          placeholder: "leave it blank if you don't want to change it",
                          class: "input-form",
                          input_html: { autocomplete: "new-password" } %>
                      </td>
                    </tr>
                    <tr>
                      <th><%= f.label :current_password, 'Curent Password:'%></th>
                      <td>
                        <%= f.input_field :current_password,
                          hint: "we need your current password to confirm your changes",
                          required: true,
                          placeholder: "Enter current password to confirm your changes",
                          class: "input-form",
                          input_html: { autocomplete: "current-password" } %>
                      </td>
                    </tr>
                  </tbody>
                </table>

              
              
            </div>
            <div class="panel-block">
              <%= f.button :submit, "Save your update", class: "button is-medium is-fullwidth is-success is-outlined"%>
            </div>
          <% end %>
        </article>
      
        <div class="devise-links">
          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
          <%= link_to "Home", root_path %>
        </div>

    </div>
    <div class="column"></div>
  </div>
</div>
