<div class="section">
  <div class="columns is-centred">
    <div class="column"></div>
    <div class="column is-6">


        <article class="panel is-danger">
          <p class="panel-heading">
            Forgot your password?
          </p>


          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

            <div class="panel">
                <%= f.error_notification %>

                <table class="table is-fullwidth">
                  <tbody>
                    <tr>
                      <th><%= f.label :email, 'Email:'%></th>
                      <td>
                        <%= f.input_field :email,
                          required: true,
                          placeholder: "Exemple@email.com",
                          autofocus: true,
                          class: "input-form",
                          input_html: { autocomplete: "email" }%>
                      </td>

                    </tr>
                  </tbody>
                </table>

            </div>
            <div class="panel-block">
              <%= f.button :submit, "Send me reset password instructions", class: "button is-medium is-fullwidth is-danger is-outlined"%>
            </div>
          <% end %>
        </article>
      
        <div class="devise-links"><%= render "devise/shared/links" %></div>

    </div>
    <div class="column"></div>
  </div>
</div>
