<div class="column is-6">
  <div class="card add-gossip is-hidden-mobile">
    <% if user_signed_in? %>
      <div class="card-content">
          <div class="media">
            <div class="media-left">
                <p class="image is-48x48">
                  <%= gravatar_image_tag(current_user.email, size: 48, alt: current_user.name) %>
                </p>
            </div>
            <div class="media-content">
              <p class="title is-5">Hey, <%= current_user.name %>! Any juicy gossip to share?</p>
            </div>
          </div>

          <div class="content">

            <%= form_for @gossip do |form| %>
              <% if @gossip.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(gossip.errors.count, "error") %> prohibited this gossip from being saved:</h2>

                  <ul>
                    <% gossip.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= form.text_area :body, class: "textarea", value: "OMG! Turns out...", autofocus: true %>
              </div>

              <div class="actions">
                <%= form.submit class: "button is-fullwidth is-link is-outlined" %>
              </div>
            <% end %>
          </div>
      </div>
    <% else %>
      <div class="card-content">
          <h2 class="title is-3 is-spaced">Wana share some Gossip?<h2>
          <div class="columns is-1 is-variable">
              <div class="column">
                <%= link_to 'Sing-up', new_user_registration_path, class: "button is-medium is-fullwidth is-link is-outlined" %>
              </div>
              <div class="column">
                <%= link_to 'Log-in', new_user_session_path, class: "button is-medium is-fullwidth is-info is-outlined" %>
              </div>
          </div>
      </div>
    <% end %>
  </div>
  <% @gossips.each do |gossip| %>
    <div class="gossip-container">

      <div class="name-lockup">

        <%= gravatar_image_tag(gossip.user.email, alt: gossip.user.name, class: "avatar") %>
        <div class="name"><%= gossip.user.name %> <span>@<%= gossip.user.username%></span></div>

      </div>

      <blockquote>
        <%= gossip.body %>
      </blockquote>

      <div class="actions">
        <i class="icon-reply fa fa-reply-all"></i>
        <i class="icon-spread fa fa-bullhorn"> 0</i>
        <i class="icon-like fa fa-heart"> 1</i>
        <i class="icon-dislike fa fa-thumbs-o-down"> 0</i>
        <i class="icon-comment fa fa-comment-o"> 0</i>
        <% if user_signed_in? && current_user.id == gossip.user.id %>
          <i class="icon-quote-gossiper fa fa-quote-right"> 0</i>
          <%= link_to gossip, class: "icon-show" do %>
            <i class="fa fa-link"></i>
          <% end %>
          <%= link_to edit_gossip_path(gossip), class: "icon-edit" do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to gossip, method: :delete, data: { confirm: 'Are you sure you want to delete this Gossip?' }, class: "icon-delete" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        <% end %>
      </div>

      <span class="time"><%= time_ago_in_words(gossip.created_at) %> ago</span>

    </div>
  <% end %>
</div>